<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <!-- 将日志以回滚文件的形式写到文件中 -->
  <!-- 按日期切分日志文件，并将日期作为日志文件的名字 -->
  <!--Error-->
  <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
    <file value="Log/"/>
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <!--日期的格式，每天换一个文件记录，如不设置则永远只记录一天的日志，需设置-->
    <datePattern value="&quot;GlobalExceptionLogs_&quot;yyyyMMdd&quot;.log&quot;" />
    <!--日志文件名是否为静态-->
    <StaticLogFileName value="false"/>
    <!--多线程时采用最小锁定-->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <!--布局（向用户显示最后经过格式化的输出信息）-->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date| %-5level %newline%message%newline--------------------------------%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <levelMax value="FATAL" />
    </filter>
  </appender>
  <!--Error-->



  <!--Info-->
  <appender name="InfoLog" type="log4net.Appender.RollingFileAppender">
    <!--定义文件存放位置-->
    <file value="Log/"/>
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <!--日志文件名是否为静态-->
    <StaticLogFileName value="false"/>
    <!--日期的格式，每天换一个文件记录，如不设置则永远只记录一天的日志，需设置-->
    <datePattern value="&quot;GlobalInfoLogs_&quot;yyyyMMdd&quot;.log&quot;" />
    <!--多线程时采用最小锁定-->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <!--布局（向用户显示最后经过格式化的输出信息）-->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date| %-5level%c %newline%message%newline--------------------------------%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="WARN" />
    </filter>
  </appender>
  <!--Info-->

  <root>
    <!-- 控制级别，由低到高：ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF -->
    <!-- 比如定义级别为INFO，则INFO级别向下的级别，比如DEBUG日志将不会被记录 -->
    <!-- 如果没有定义LEVEL的值，则缺省为DEBUG -->
    <level value="ALL" />
    <!-- 按日期切分日志文件，并将日期作为日志文件的名字 -->
    <appender-ref ref="ErrorLog" />
    <appender-ref ref="InfoLog" />
  </root>
</log4net>