<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <remove name="aspNetCore" />
        <remove name="WebDAV" />

        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" requireAccess="None" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Blog.Core.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="SkyAPM.Agent.AspNetCore" />
          <environmentVariable name="SKYWALKING__SERVICENAME" value="Blog.Core.Api" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>